---
import "@fontsource/roboto-condensed";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="h-screen min-w-[375px] relative bg-[#f7f7f7] dark:bg-[#141414] font-rob max-w-[1280px]"
  >
    <slot />
  </body><style>
    body {
      background-image: url("../assets/background.png"),
        url("../assets/background-top.png");
      background-position-x: center, center;
      background-position-y: bottom, top;
      background-repeat: no-repeat;
      background-blend-mode: hard-light;
    }
  </style>
</html>
